In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

cola = pd.read_csv('../Resources/COLA_CESM1_MEMBER_LDC.csv')
cola['LDC_SST_COLA_CESM1'] = cola['LDC_SST_COLA_CESM1']
cola['MON'] = pd.to_datetime(cola['MON'], format = '%H%M %d %b %Y')
cola['START'] = cola['MON'].dt.month
cola['TARGET'] = ((cola['START'] + cola['L']).astype(int))%12
cola['TARGET'] = cola['TARGET'].apply(lambda x: 12 if x == 0 else x)

# Calculate the mean grouped by 'L' and 'START'
cola_mean = cola.groupby(['L', 'START', 'M'])['LDC_SST_COLA_CESM1'].mean().reset_index()
cola_mean.rename(columns={'LDC_SST_COLA_CESM1': 'MEAN_SST_COLA_CESM1'}, inplace=True)

# Calculate the variance grouped by 'L' and 'START'
cola_var = cola.groupby(['L', 'START', 'M'])['LDC_SST_COLA_CESM1'].var().reset_index()
cola_var.rename(columns={'LDC_SST_COLA_CESM1': 'VAR_SST_COLA_CESM1'}, inplace=True)

# Merge the mean and variance DataFrames
cola_stat = pd.merge(cola_mean, cola_var, on=['M','L','START'])
month_to_season = {
    1: 'DJF', 2: 'JFM', 3: 'FMA', 4: 'MAM', 5: 'AMJ', 6: 'MJJ',
    7: 'JJA', 8: 'JAS', 9: 'ASO', 10: 'SON', 11: 'OND', 12: 'NDJ'
}
cola_stat['TARGET'] = ((cola_stat['START'] + cola_stat['L']).astype(int))%12
cola_stat['TARGET'] = cola_stat['TARGET'].apply(lambda x: 12 if x == 0 else x)
cola_stat['SZN'] = cola_stat['TARGET'].map(month_to_season)

new_order = ['M','L','START','TARGET','SZN','MEAN_SST_COLA_CESM1','VAR_SST_COLA_CESM1']
cola_stat = cola_stat[new_order]

cola_stat.to_csv('../Resources/cola_member_stat.csv', index=False)
cola_stat

       M     L  START  TARGET  SZN  MEAN_SST_COLA_CESM1  VAR_SST_COLA_CESM1
0      1   1.5      1       2  JFM            26.703791            0.969951
1      2   1.5      1       2  JFM            26.727268            0.970156
2      3   1.5      1       2  JFM            26.730130            0.962392
3      4   1.5      1       2  JFM            26.730596            1.012501
4      5   1.5      1       2  JFM            26.703139            0.947953
...   ..   ...    ...     ...  ...                  ...                 ...
1195   6  10.5     12      10  SON            25.491020            1.934747
1196   7  10.5     12      10  SON            25.354856            2.110447
1197   8  10.5     12      10  SON            25.562313            2.296819
1198   9  10.5     12      10  SON            25.273977            1.363516
1199  10  10.5     12      10  SON            25.398699            1.494890

[1200 rows x 7 columns]

In [20]:
 """SOURCES .Models .NMME .COLA-RSMAS-CESM1 .MONTHLY .sst
  S (0000 1 Jan-Dec 1991-2020) RANGE
  Y -5 5 RANGEEDGES
  X 190 240 RANGEEDGES
  M 0.5 10.5 RANGEEDGES
  [X Y]average
  L 3 runningAverage
  """

'SOURCES .Models .NMME .COLA-RSMAS-CESM1 .MONTHLY .sst\n S (0000 1 Jan-Dec 1991-2020) RANGE\n Y -5 5 RANGEEDGES\n X 190 240 RANGEEDGES\n M 0.5 10.5 RANGEEDGES\n [X Y]average\n L 3 runningAverage\n WARNING::: COLA New Analysis has Leads of 1-12\n '

In [21]:
ncep = pd.read_csv('../Resources/NCEP_CFSv2_MEMBER_LDC.csv')
ncep['LDC_SST_NCEP_CFSv2'] = ncep['LDC_SST_NCEP_CFSv2']
ncep['MON'] = pd.to_datetime(ncep['MON'], format = '%H%M %d %b %Y')
ncep['START'] = ncep['MON'].dt.month
ncep['TARGET'] = ((ncep['START'] + ncep['L']).astype(int))%12
ncep['TARGET'] = ncep['TARGET'].apply(lambda x: 12 if x == 0 else x)

# Calculate the mean grouped by 'L' and 'START'
ncep_mean = ncep.groupby(['L', 'START', 'M'])['LDC_SST_NCEP_CFSv2'].mean().reset_index()
ncep_mean.rename(columns={'LDC_SST_NCEP_CFSv2': 'MEAN_SST_NCEP_CFSv2'}, inplace=True)

# Calculate the variance grouped by 'L' and 'START'
ncep_var = ncep.groupby(['L', 'START', 'M'])['LDC_SST_NCEP_CFSv2'].var().reset_index()
ncep_var.rename(columns={'LDC_SST_NCEP_CFSv2': 'VAR_SST_NCEP_CFSv2'}, inplace=True)

# Merge the mean and variance DataFrames
ncep_stat = pd.merge(ncep_mean, ncep_var, on=['M','L','START'])
month_to_season = {
    1: 'DJF', 2: 'JFM', 3: 'FMA', 4: 'MAM', 5: 'AMJ', 6: 'MJJ',
    7: 'JJA', 8: 'JAS', 9: 'ASO', 10: 'SON', 11: 'OND', 12: 'NDJ'
}
ncep_stat['TARGET'] = ((ncep_stat['START'] + ncep_stat['L']).astype(int))%12
ncep_stat['TARGET'] = ncep_stat['TARGET'].apply(lambda x: 12 if x == 0 else x)
ncep_stat['SZN'] = ncep_stat['TARGET'].map(month_to_season)

new_order = ['M','L','START','TARGET','SZN','MEAN_SST_NCEP_CFSv2','VAR_SST_NCEP_CFSv2']
ncep_stat = ncep_stat[new_order]

ncep_stat.to_csv('../Resources/ncep_member_stat.csv', index=False)
ncep_stat

       M    L  START  TARGET  SZN  MEAN_SST_NCEP_CFSv2  VAR_SST_NCEP_CFSv2
0      1  1.5      1       2  JFM            26.834687            0.841963
1      2  1.5      1       2  JFM            26.876216            0.905006
2      3  1.5      1       2  JFM            26.892547            0.739339
3      4  1.5      1       2  JFM            26.838767            0.855349
4      5  1.5      1       2  JFM            26.903450            1.012521
...   ..  ...    ...     ...  ...                  ...                 ...
2299  20  8.5     12       8  JAS            26.453236            0.999276
2300  21  8.5     12       8  JAS            26.576842            0.828197
2301  22  8.5     12       8  JAS            26.545891            0.724132
2302  23  8.5     12       8  JAS            26.481653            0.714215
2303  24  8.5     12       8  JAS            26.505069            0.879007

[2304 rows x 7 columns]

In [22]:
 '''SOURCES .Models .NMME .NCEP-CFSv2 .HINDCAST .PENTAD_SAMPLES_FULL .sst
  S (0000 1 Jan-Dec 1991-2000) RANGE -> need to expand to 2020! -> completed. 
  Y -5 5 RANGEEDGES
  X 190 240 RANGEEDGES
  M 0.5 28.5 RANGEEDGES
  [X Y]average
  L 3 runningAverage 

  24*8*12 = 2304 -> there are only a few predictions where 28 members are available -> trim to 24 members only. 
'''

'SOURCES .Models .NMME .NCEP-CFSv2 .HINDCAST .PENTAD_SAMPLES_FULL .sst\n S (0000 1 Jan-Dec 1991-2000) RANGE -> need to expand to 2020!\n Y -5 5 RANGEEDGES\n X 190 240 RANGEEDGES\n M 0.5 28.5 RANGEEDGES\n [X Y]average\n L 3 runningAverage \n\n 24*8*12 = 2304 -> there are only a few predictions where 28 members are available -> trim to 24 members only. \n'